

<div class="card shadow ">

    <div class="card-title">
        <h3 class=" text-center ">Two way binding</h3>
    </div>

    
    <div class="card-body ">
        <div class="row">

            <div class="col ">
                <div class="container ">
    
                    <div class="row my-4">
                        <h5 class=" text-danger fs-2 text-center">{{text}}</h5>
                    </div>
                    
                    <div class="row ">
                        <input class="text-center shadow p-2 " placeholder="escreva algo" [(ngModel)]="text">
                    </div>
                
                
                </div>
            </div>

            <div class="col">
                <ul class="list-group list-group " [ngClass]="{'shadow': valor,'shadow-sm':valor2}" (mouseover)="active()" (mouseout)="disable()">
                    <li class="list-group-item text-center">
                        <a target="_blank" href="https://angular.io/guide/two-way-binding">Two way binding Documentação link</a>
                    </li>
                </ul>
        
            </div>
        </div>
    </div>
</div>




















    