




<div class="card shadow mb-5" [ngClass]="{'bg-info': info, 'bg-danger': danger, 'bg-warning': warning,'bg-success': success}">

    <div class="card-title">
        <h3 class=" text-center ">NgClass</h3>
    </div>

    <span class="fs-5  text-dark ms-4">Passe o mouse sobre as cores</span>
    <div class="card-body row  ">
<div class="col d-flex justify-content-around">
    <div class="box bg-info" (mouseover)="infOver()" (mouseout)="infOut()"></div>
    <div class="box bg-danger" (mouseover)="dangOver()" (mouseout)="dangOut()"></div>
    <div class="box bg-warning" (mouseover)="warnOver()" (mouseout)="warnOut()"></div>
    <div class="box bg-success" (mouseover)="succOver()" (mouseout)="succOut()"></div>
</div>
        
   
    <div class="col">
        <ul class="list-group list-group " [ngClass]="{'shadow': valor,'shadow-sm':valor2}" (mouseover)="active()" (mouseout)="disable()">
            <li class="list-group-item text-center">
                <a target="_blank" href="https://angular.io/api/common/NgClass#description">NgClass Documentação link</a>
            </li>
        </ul>

    </div>
</div>
</div>


