

<div class="container">

    <app-header ></app-header>

    
                    <app-jump-ball></app-jump-ball> 
       
    <br>

   
                    <app-componente1></app-componente1>

    <br>

                    <app-component-ng-class></app-component-ng-class>


    <br>

                    <app-component-ng-if></app-component-ng-if>

    <br>

                    <app-component-ng-for></app-component-ng-for>

    <br>

    <app-header ></app-header>
               

</div>

<router-outlet></router-outlet>
