<div class="card shadow my-2">

    <div class="card-header"(click)="activeCard()">
      
        <h1 class=" my-auto p-2 ">Property binding e Event binding</h1> 
     
    </div>

    <div class="card-body "*ngIf="card">
        <div class="row my-4 ">

            <div class="col-3  d-inline-flex justify-content-center">
                    <div class=" mt-5 ">
                        <img class="bmj" [src]="jumpBall" alt="" (click)="muda()">
                    </div>
                
                    <div class=" mt-5" >
                        <span class="fs-5  text-danger">clique na bolinha</span>
                    </div>
            </div>
            <div class="col-9  d-inline-flex justify-content-center">
                    <div class=" text-dark fs-5 p-3">
                        Property-binding<br>
                        Controle das propiedades de elementos html : img  [src]="jumpBall"  <br>
                        Event-Binding<br>
                        Controle de eventos como click ou mousemove: (click)="funçao()"
                    </div>
            </div>


        <div class="row mt-5">

            
                <div class="col d-inline-flex justify-content-center">
                    <ul class="list-group list-group   " [ngClass]="{'shadow': valor,'shadow-sm':valor2}" (mouseover)="active()" (mouseout)="disable()">
                        <li class="list-group-item text-center">
                            <a target="_blank" href="https://angular.io/guide/property-binding">Property binding Documentação link</a>
                        </li>
                        <li class="list-group-item text-center">
                            <a target="_blank" href="https://angular.io/guide/event-binding">Event binding Documentação link</a>
                        </li>
                    </ul>

                </div>

        </div>
        </div>
    </div>

</div>